.user-profile {
  width: 90%;
  margin: 25px auto;
}

.small-container {
  padding-left: 10px;
}

.lighten {
  padding-right: 10px;
  font-size: 0.8em;
}

.edit {
  font-size: 0.6em;
  padding-left: 5px;
  color: rebeccapurple;
  text-decoration: underline;
}

.user-profile h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 40px 0 15px 0;
  background: -webkit-linear-gradient(-125deg, #8468F5 0%, #EC74E7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-profile p {
  margin-bottom: 3px;
}

.inputField[disabled] {
  width: 100%;
  font-size: 1em;
  font-family: sans-serif;
  background: #E8E8E8;
  border: none;
  margin: 5px;
}

.inputField {
  width: 100%;
  font-size: 1em;
  font-family: sans-serif;
  background: #fff;
  border: none;
  margin: 5px;
}

.inputBox {
  width: 85%;
  height: 75px;
  font-size: 1em;
  font-family: sans-serif;
}

.buttons {
  width: 200px;
  margin: auto;
}

@media (min-width: 700px) {
  .user-profile{
    width: 500px;
  }

  .inputField {
    width: 60%;
  }

}

@media (min-width: 950px) {
  .user-profile{
    max-width: 700px;
  }
}

.user-profile-dropdown {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.buttons button {
  font-size: 1em;
  margin: 15px 0 0 10px;
}